@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.whatsapp-form-notifyhub *, .whatsapp-form-notifyhub > * {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

.whatsapp-form-notifyhub {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9999999999;
	max-width: 342px;
	width: 100%;
	transition: .2s;
}

.whatsapp-form-notifyhub .whatsatpp-box_notifyhub {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: -9999;
	position: relative;
}

.whatsapp-form-notifyhub .whatsatpp-box_notifyhub.show {
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}

.whatsapp-form-notifyhub .header-notifyhub {
	border-radius: 12px 12px 0px 0px;
	background: #198B69;
	width: 342px;
	height: 58px;
	display: flex;
	align-items: center;
	padding-left: 1.4em;
}

.whatsapp-form-notifyhub .header-notifyhub .title {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.whatsapp-form-notifyhub .body-notifyhub {
	border-radius: 0px 0px 6px 6px;
	background: #F0F0F0;
	width: 100%;
	padding: 1em 1.4em 1.8em;
	position: relative;
}

.whatsapp-form-notifyhub .body-notifyhub:after {
	content: "";
	width: 28.182px;
	height: 27.475px;
	transform: rotate(-45deg);
	border-radius: 3px;
	background: #F0F0F0;
	display: block;
	position: absolute;
	bottom: -13px;
	right: 24px;
}


.whatsapp-form-notifyhub .body-notifyhub .text-body-notifyhub {
	padding-bottom: 1.8em;
}

.whatsapp-form-notifyhub .body-notifyhub .text-body-notifyhub p {
	color: #434343;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.whatsapp-form-notifyhub .body-notifyhub .text-body-notifyhub p.loading {
	text-align: center;
}


.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub #error_text_form {
	font-size: 14px;
	width: 100%;
	display: flex;
	padding: 0.5em 0.7em 0;
	color: #f00;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub form .wrapper-field-nh {

	flex: none;
	width: 82%;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub form .wrapper-field-nh input {
	display: none;
	border-radius: 90px;
	border: 1px solid #DCDCDC;
	background: #FFF;
	height: 48px;
	width: 100%;
	padding-left: 1.2em;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	max-width: 222px;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub form .wrapper-field-nh input.show {
	display: flex;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub form .wrapper-field-nh input:focus {
	outline: 0;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .warn-policies {
	display: none;
	align-items: flex-start;
	padding-right: 1.4em;
	margin-right: 0.4em;
	margin-top: 1em;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .warn-policies.show {
	display: flex;
}


.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .warn-policies img {
	flex: none;
	width: 13px;
	height: 13px;
	margin-right: 0.5em;
	margin-top: 2px;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .warn-policies p {
	color: #434343;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .warn-policies p a {
	font-weight: 600;
	text-decoration: underline;
	color: #434343;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .btn-fom-nh {
	width: 47px;
	height: 47px;
	border-radius: 900px;
	overflow: hidden;
	padding: 0;
	border: none;
	background: none;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub .btn-fom-nh img {
	width: 100%;
	height: auto;
}

.whatsapp-form-notifyhub .body-notifyhub .form-notifyhub {

}

.whatsapp-form-notifyhub .button-whatsapp {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.8em;
}

.whatsapp-form-notifyhub .button-whatsapp .btn-whatsapp-notifyhub {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
}

.whatsapp-form-notifyhub .button-whatsapp .btn-whatsapp-notifyhub img {
	width: 100%;
	height: auto;
}

.whatsapp-form-notifyhub #loading_notifyhub_end_send {
	display: none;
	text-align: center;
}

.whatsapp-form-notifyhub #loading_notifyhub_end_send img {
	width: 67px;
	height: auto;
}